pandas
boto3
numpy
streamlit
time
datetime


# SCHEDULING -------------------------------------------------------------

# Finish the Inputs to be at par w/ Inputs File
# - Include a backend database for scheduling inputs (picks up data from S3)
# Missing metric calculations:
# - DEA Cut-off time
# - DEA Buffer
# - Infinity Seq Mins


# Build overrides layer
# - Build the UI
# - Build the backend overrides File

# Enable syncing
# - Enable scheduled / trigger based sync
# - Build Cradle jobs for:
#   - SCSMS
#   - SnOP Foreacasts for CVP
#   - CO Forecasts (or fetch the forecasts from CO S3 directly and use as invocation trigger)

# Build Wave planning
# - Reverse engineer the Wave planning file
# - Build the UI
# - Build the backend (incl. a database to store the Wave plans)


# EOA -------------------------------------------------------------

# Enable Event based variables instead of environment variables for:
# - Offer optimization
# Chain the Lambdas as as Step-Functions
# Build CloudWatch dashboard for EOA


# MAESTRO -------------------------------------------------------------

# Include missing data:
# - SG SnOP Forecasts
# - MMoT targets
# Decipher the cycle naming for AU (over-night) and SG
# Build the UI for Maestro
# Build the backend (S3 stored file w/ the latest data)


# FILL MONITOR -------------------------------------------------------------

# Change Lambda to trigger based - not scheduled
# Store fill data in a database
# Build the UI to display fill data
# Build the surge tool on the cloud